<nav>
    <div id="burger"></div>
    <ul>
        <li><a href="/"> Accueil </a></li>
        <% if (path !== "/account/create" && path !== "/login")
        {
        %>
            <li><a href="/account/modify">  Mon compte  </a></li>
            <li><a href="/chat"> Chat </a></li>
            <li><a href="/logout"> Déconnexion </a></li>
            <li><%= username %></li>
        <%
        }
        %>
    </ul>
</nav>