<% include includes/header.ejs %>
<body>
    <% include includes/navigation_bar.ejs %>

    <ul id="connected_members"></ul>

    <div class="container">
        <div id="messages_list"></div>

        <form id="send_message">
            <div class="field">
                <textarea name="message" id="post_message"></textarea>
            </div>
            <input type="submit" class="btn blue" value="Envoyer"/>
        </form>
    </div>

    <div id="people"></div>

    <% include includes/footer.ejs %>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">

    /* Function to insert the messages (all from scratch and one by one) */

    function scrollToBottom() {
        messagesList.scrollTop = messagesList.lastElementChild.offsetTop;
    }

    function appendNewMessage(message, index){

        var divElt = document.createElement("div");
        divElt.className = "message";

        var pseudoElt = document.createElement("b");
        var day = message.date.substr(8, 2);
        var month = message.date.substr(5, 2);
        var year = message.date.substr(0, 4);
        var date = day + "/" + month + "/" + year;
        pseudoElt.textContent = message.username + " le " + date + " à " + message.date.substr(11,8);

        var messageElt = document.createElement("p");
        messageElt.textContent = message.message;

        divElt.appendChild(pseudoElt);
        divElt.appendChild(messageElt);

        console.log(index);
        if(index % 2 !== 0){
            divElt.style.alignSelf = "flex-end";
            divElt.style.backgroundColor = "#777";
        }
        messagesList.appendChild(divElt);

    }

    /* To add a user to the list */

    function appendNewMember(member){

        var liElt = document.createElement("li");

        liElt.setAttribute("id", member.token);

        if(member.connected === 0){
            liElt.style.color = "#777";
            liElt.textContent = member.username + " (Hors-ligne)";
        }
        else{
            liElt.style.color = "#4169e1";
            liElt.style.fontWeight = "600";
            liElt.textContent = member.username + " (En ligne)";
        }

        liElt.addEventListener("click", function(e){

            socket.emit("private_discussion", e.target.getAttribute("id"));

        });

        membersList.appendChild(liElt);
    }

    /* Connexion au serveur */

    var socket = io.connect('http://localhost:8000');

    /* Selectors */

    var formElt = document.querySelector("form");
    var messagesList = document.getElementById("messages_list");
    var membersList = document.getElementById("connected_members");

    /* When the form is submitted */

    function sendData(e){

        e.preventDefault();

        var inputValue = this.elements.message.value;
        socket.emit("new_message", inputValue);
        this.elements.message.value = "";
    }

    /* Event Listener on form submission */

    formElt.addEventListener("submit", sendData);

    /* Waiting for the list of all messages stored in database */

    socket.on("all_messages", function(messages){

        messages.forEach(function(message, index){
            appendNewMessage(message, index);
        });

        scrollToBottom();
    });

    /* Waiting for any new message */

    socket.on("new_message", function(message){
        appendNewMessage(message);

        /* Go to the bottom of the list */
        scrollToBottom();
    });

    /* Waiting for the list of pseudos of all members connected */

    socket.on("connected_members", function(members){

        while(membersList.lastElementChild){
            membersList.removeChild(membersList.lastElementChild);
        }

        members.forEach(function(member){
            appendNewMember(member);
        });

    });

    socket.emit("init", {token: "<%= token %>", username : "<%= username %>", chat: true});

    </script>
</body>
</html>


