<% include includes/header %>

<body id="home">
    <div id="homepage-buttons">
        <a href="/account/create" class="btn blue">Créer un compte</a>
        <a href="/login" class="btn blue">S'identifier</a>
    </div>
<% include includes/footer %>
</body>
</html>
