<% include includes/header %>

<% include includes/navigation_bar %>

<body id="home">
    <div class="container">
        <div id="homepage-buttons">
            <a href="/account/create" class="btn blue">Créer un compte</a>
            <a href="/login" class="btn blue">S'identifier</a>
        </div>
    </div>
</body>

<% include includes/footer %>
