<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat fever</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    <body>
        <h1> Chat fever </h1>

        <ul id="connected_members"></ul>

        <div class="container">
            <div id="messages_list"></div>

            <form>
                <div class="field">
                    <textarea name="message" id="post_message"></textarea>
                </div>
                <input type="submit" class="btn blue right" value="Envoyer"/>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">

        // Function to insert the messages (all from scratch and one by one)
        function appendNewMessage(message){
            var divElt = document.createElement("div");
            divElt.className = "message";

            var pseudoElt = document.createElement("b");
            var day = message.date.substr(8, 2);
            var month = message.date.substr(5, 2);
            var year = message.date.substr(0, 4);
            var date = day + "/" + month + "/" + year;
            pseudoElt.textContent = message.pseudo + " le " + date + " à " + message.date.substr(11,8);

            var messageElt = document.createElement("p");
            messageElt.textContent = message.message;

            divElt.appendChild(pseudoElt);
            divElt.appendChild(messageElt);

            messagesList.appendChild(divElt);
        }

        // To add a user to the list
        function appendNewMember(member){
            var liElt = document.createElement("li");
            liElt.textContent = member;
            membersList.appendChild(liElt);
        }

        // Connexion à socket.io
        var socket = io.connect('http://localhost:8000');

        // Selectors
        var formElt = document.querySelector("form");
        var messagesList = document.getElementById("messages_list");
        var membersList = document.getElementById("connected_members");

        // When the form is submitted
        function sendData(e){
            e.preventDefault();
            var inputValue = this.elements.message.value;
            socket.emit("new_message", inputValue);
            this.elements.message.value = "";
        }

        formElt.addEventListener("submit", sendData);

        // Popup to insert a pseudo
        var pseudo = prompt("Choisissez un pseudo");
        socket.emit("pseudo", pseudo);

        document.getElementsByTagName("title")[0].textContent = pseudo;

        // Waiting for the list of all messages stored in database
        socket.on("all_messages", function(messages){

            messages.forEach(function(message){
                appendNewMessage(message);
            });

        });

        // Waiting for any new message
        socket.on("new_message", function(message){
            appendNewMessage(message);
        });

        // Waiting for the list of pseudos of all members connected
        socket.on("connected_members", function(members){

            members.forEach(function(member){
                appendNewMember(member);
            });

        });

        // Waiting for any new pseudo (member)
        socket.on("new_member", function(member){
            appendNewMember(member);
        });

        // Waiting for the index of the member that leaves the chat to remove from the list
        socket.on("index_to_remove", function(index){
            membersList.removeChild(membersList.childNodes[index]);
        });

        </script>
    </body>
</html>
