<% include includes/header.ejs %>

<body>

    <% include includes/navigation_bar.ejs %>

    <div class="container">
        <div class="sub_container">
            <a href="/chat" class="btn blue middle"> Accéder au chat </a>
        </div>
    </div>

    <% include includes/footer.ejs %>

</body>
</html>