body{
    font-family: "arial", sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background: royalblue;
    height: 60px;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

nav #burger{
    height: 40px;
    width: 40px;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("burger.png") center no-repeat;
    background-size: 100%;
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li{
    color: #fff;
}

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

nav a:hover{
    background: #fff;
    color: royalblue;
    -webkit-transition: 400ms;
    -moz-transition:  400ms;
    -o-transition:  400ms;
    transition:  400ms;
}

#nav_desktop{
    height: 60px;
    line-height: 60px;
}

#nav_desktop li{
    width: 15vw;
    height: 100%;
    text-align: center;
}

#nav_desktop li:last-child{
    position: absolute;
    right: 0;
}

/* For the homepage & login pages */

#nav_desktop li:first-child{
    position: relative;
}

#nav_mobile{
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    background: royalblue;
    left: -100%;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

#nav_mobile li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #555;
    background: #fafafa;
    width: 100%;
    font-size: .9em;
    border-top: 1px solid #c8c8c8;
}

.btn {
    outline: none;
    border: none;
    border-radius: 7px;
    -moz-border-radius: 7px;
    padding: 10px;
    color: #fff;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 0 0;
}

.blue{
    background: royalblue;
}

.black{
    background: black;
}

.middle{
    display: block;
    margin: 5px auto;
}

.right{
    position:absolute;
    right: 0;
}

.field label,
.field textarea{
    display: block;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field label{
    text-align: center;
    background: royalblue;
    color: #fff;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="file"]{
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}

.field input[type="file"]{
    border: 1px solid #c8c8c8;
}

.field textarea{
    height: 100px;
}

.field img{
    width: 100%;
    border: 1px solid #c8c8c8;
}

h1{
    color: royalblue;
    text-align: center;
    height : 10vh;
    font-size: 3em;
    margin-top: 2.5vh;
}

.container{
    width: 50vw;
    height: 75vh;
    margin: 15vh auto;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.container_custom{
    height: auto;
}

.container #messages_list{
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.container #messages_list::-webkit-scrollbar-thumb {
    background: royalblue;
}

.container #messages_list::-webkit-scrollbar {
    width: 3px;
}

.container #messages_list .message{
    background: royalblue;
    padding: 10px;
    margin: 5px;
    width: 45%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    border-radius: 10px;
    color: #fff;
}

.container #messages_list .message p{
    margin: 0;
}

.container #messages_list .message:last-child{
    margin-bottom: 0;
}

.container #send_message{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

#send_message textarea{
    resize: none;
    font-size: 1em;
    font-family: "arial", sans-serif;
}

#connected_members{
    height: 75vh;
    position: fixed;
    top: 15vh;
    left: 0;
    width: 200px;
    -webkit-box-shadow: 0 0 3px #b8b8b8;
    -moz-box-shadow: 0 0 3px #b8b8b8;
    box-shadow: 0 0 3px #b8b8b8;
    overflow-y: scroll;
    z-index: 1;
    background: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

#connected_members li{
    width: 100%;
    text-indent: 5px;
    margin: 5px 0;
    cursor: pointer;
    background: #fafafa;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#connected_members::-webkit-scrollbar{
    display: none;
}

.sub_container{
    width: 75%;
    margin: 0 auto;
    position: relative;
}

/* Sign up page */

#alert_username,
#email_invalide{
    color: #b22222;
    display: none;
    margin: 5px 0;
    text-align: right;
}

/* Home */

#home{
    background: royalblue;
}

#homepage-buttons{
    height: 20vh;
    line-height: 20vh;
    text-align: center;
    background: #fafafa;
    margin: 40vh auto 40vh auto;
}

/* Login page */

#formLogin{
    background: #eee;
    padding: 10px;
}

/* chat page */

#people {
    display: none;
}

@media all and (max-width: 1024px){

    nav #burger{
        display: block;
    }

    .container{
        width: 95%;
    }

    .container #messages_list .message{
        width: 80%;
    }

    #people{
        display: block;
        position: absolute;
        bottom: 30px;
        width: 40px;
        height: 40px;
        background: url("people.png") no-repeat center;
        background-size: contain;
    }

    .sub_container{
        width: 100%;
    }

    #connected_members{
        left: -75vw;
        width: 75vw;
    }

    .btn{
        font-size: 1em;
    }

}


